<launch>
	## Camera rectifications
	<group ns="gmsl_camera_rect">
		<node pkg="nodelet" type="nodelet" name="gmsl_camera" args="standalone image_proc/rectify" respawn="true">
            <remap from="image_mono " to="/gmsl_camera/port_0/cam_1/image_raw"/>
            <remap from="camera_info" to="/gmsl_camera/port_0/cam_1/image_raw/camera_info"/>
        </node> 
		
		<node pkg="image_proc" type="image_proc" name="image_proc">
            <remap from="image_raw "  to="/gmsl_camera/port_0/cam_2/image_raw"/>
            <remap from="camera_info" to="/gmsl_camera/port_0/cam_2/image_raw/camera_info"/>
        </node>
		
	</group>
	
	
		
</launch>
